/* * {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFF4FD;
    transition: .3s ease all;
}

main{
    margin: 0px 100px;
}

/* <!-- HEADER --> */

/* header{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    height: 23px;
    display: flex;
}

p {  
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Chakra Petch', sans-serif;
    color: #FFFFFF;
} */

/* <!-- SECCION CREAR GIFOS/ ELEGIR TEMAS --> */
/* .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0px; */
    
/* } */
/* div los tres botones */
/* .buttoms {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    top: 70px;

} */
/* boton crear gifos */
/* .create  {
    cursor: pointer;
    background: #F7C9F3 100%;
    width: 144px;
    height: 36px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1rem;
    border: 1px solid #110038;
    margin: 0px 10px;  
} */


/* boton elegir temas */
/* .elegirt  {
    cursor: pointer;
    background: #F7C9F3 100%;
    width: 144px;
    height: 36px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    border: 1px solid #110038;
} */


/* flecha elegir */
/* .elegirt_arrow{
    background: #F7C9F3;
    width: 36px;
    height: 36px;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}



.dropContent {
    width: 179px;
    height: 100px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    top: 120px;
    right: 195px;
    z-index: 1;
    display: none;
    position: absolute;
    overflow: auto;
} */
/* menu */
/* .light{
    list-style: none;
    width: 150px;
    height: 34px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    font-family: "Chakra Petch", sans-serif;
    color: #110038;
    text-align: center;
    padding-top: 6px;
    margin-top: 8px;
    margin-left: 13px;
    display: block;
}
.dark {
    list-style: none;
    width: 150px;
    height: 34px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    font-family: "Chakra Petch", sans-serif;
    color: #110038;
    text-align: center;
    padding-top: 6px;
    margin-top: 8px;
    margin-left: 13px;
    display: block;
}

.show {
    display: block;
}


.misGuifos { /* boton de mis misGuifos */
    /* cursor: pointer;
    width: 76px;
    left: 1190px;
    top: 75px;
    background-color: #FFF4FD;
} */ 

/* <!-- SECCION BUSCADOR --> */
/* 
.buscar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1200px;
}
.cabecera {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    width: 1194px;
    height: 24px;
    margin-left: 4px;
    margin-top: 4px;
    font-size: 14px;
    color: #FFFF;
}
.cabecera p{
    margin: auto;
    height: 48px;
    width: 97%;
}
/* FOMULARIO DE BUSCADOR */
/* form {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    
    height: 100%;
}

.form {
    display: flex;
    margin: auto;
    height: 70px;
    width: 97%;
}

input { */
    /* font-family: VER; */
    /* font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 48px;
    align-self: center;
    width: 1057px;
    font-size: 11px;
    box-shadow: inset -2px -2px 0 0 #FFFF, inset 2px 2px 0 0 #000000;
}

input::placeholder{
    padding: 16px;
    font-family: ;
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 22px;
}

.botonBuscar {
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 18px;
    align-self: flex-end ;
    width: 102px;
    margin: auto 5px;
    height: 36px;
    margin-top: -50px;
    }
.botonBuscar:hover {
    color: #110038;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.relatedTagss

.searchButtom {
    width: 140px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
} */ 

    /* // <!-- SECCION SUGERENCIAS DE HOY --> */ */
 /* HEADER */
 .suge {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    width: 800px;
    height: 32px;
    margin-top: 70px;
    margin-bottom: 20px;
}

#sugep {
    margin:0;
    padding:7px;
    font-family: ChakraPetch-Regular;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
} */

/* CONTENIDO GIFS */
.divConteSuge {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.gifConte {
    width: 100%;
    display: flex;
    flex-direction: column;
   position: relative;
    margin: 10px 0px;
}

.gifHeader {
 display: flex;
  height: 24px;
  width: 95%;
  align-self: center;
  justify-content: space-between;
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.gifHeader p{
  margin: 0;
  padding: 0;
  border: 0;
  align-self: center;
  padding-left: 5px;
  font-family: ChakraPetch-Bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.times {
  align-self: center;
  margin-right: 5px;
  width: 16px;
  height: 14px;
}

.gifHeader img{
  
  align-self: center;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.verMas {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    padding: 10px;
    font-family: ChakraPetch-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
  }

  /* <!-- SECCION TENDENCIAS --> */
  
  .boxTendencias {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    width: 800px;
    height: 32px;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .boxTendencias p {
    margin:0;
    padding:7px;
    font-family: ChakraPetch-Regular;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
  }

  /* 2-CONTENIDO GIFS */

  .conTendencias {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }